.checkbox-style {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 2px solid #ccc;
    border-radius: 50%;
    position: relative;
    
  }
  .checkbox-style:before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  .checkbox-style:after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  input[type="checkbox"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
    
  }
  input[type="checkbox"]:checked + .checkbox-style:after {
    content: "X";
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    color: #ff4800;
    text-align: center;
    line-height: 20px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 2;
    
  }


  /* <div class="dropdown-cards-container1">
    <div class="sidebar">
        <ul>
            <li>
                <input type="checkbox" id="myCheckbox1">
                <.checkbox-style for="myCheckbox1">Intolleranza</.checkbox-style>
            </li>
            <li>
                <input type="checkbox" id="myCheckbox2">
                <.checkbox-style for="myCheckbox2">Intolleranza</.checkbox-style>
            </li>
            <li>
                <input type="checkbox" id="myCheckbox3">
                <.checkbox-style for="myCheckbox3">Intolleranza</.checkbox-style>
            </li>
            <li>
                <input type="checkbox" id="myCheckbox4">
                <.checkbox-style for="myCheckbox4">Intolleranza</.checkbox-style>
            </li>
            <li>
                <input type="checkbox" id="myCheckbox5">
                <.checkbox-style for="myCheckbox5">Intolleranza</.checkbox-style>
            </li>
            <li>
                <input type="checkbox" id="myCheckbox6">
                <.checkbox-style for="myCheckbox6">Intolleranza</.checkbox-style>
            </li>
            <li>
                <input type="checkbox" id="myCheckbox7">
                <.checkbox-style for="myCheckbox7">Intolleranza</.checkbox-style>
            </li>
            <li>
                <input type="checkbox" id="myCheckbox8">
                <.checkbox-style for="myCheckbox8">Intolleranza</.checkbox-style>
            </li>
            <li>
                <input type="checkbox" id="myCheckbox9">
                <.checkbox-style for="myCheckbox9">Intolleranza</.checkbox-style>
            </li>
            <li>
                <input type="checkbox" id="myCheckbox10">
                <.checkbox-style for="myCheckbox10">Intolleranza</.checkbox-style>
            </li>
            <li>
                <input type="checkbox" id="myCheckbox11">
                <.checkbox-style for="myCheckbox11">Intolleranza</.checkbox-style>
            </li>
            <li>
                <input type="checkbox" id="myCheckbox12">
                <.checkbox-style for="myCheckbox12">Intolleranza</.checkbox-style>
            </li>
            <li>
                <input type="checkbox" id="myCheckbox13">
                <.checkbox-style for="myCheckbox13">Intolleranza</.checkbox-style>
            </li>
            <li>
                <input type="checkbox" id="myCheckbox14">
                <.checkbox-style for="myCheckbox14">Intolleranza</.checkbox-style>
            </li>
        </ul>
    </div>
</div> */